*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
:active,
:hover{
  color: inherit;
  text-decoration: none;
}
/* button{
  background-color: transparent;
  border: 1px solid black;
} */
button{
  border: none;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
ol, ul {
list-style: none;
}